/* Download Avenir */
@import url('http://fonts.cdnfonts.com/css/avenir-next-cyr');

/* Import Tailwind classes */
@tailwind base;
@tailwind components;
@tailwind utilities;  

/* Make focus ring prettier */
*:focus {
  outline: auto;
}

/* Custom utility classes */
@layer utilities {
  /* Use the background as the text fill */
  .bg-text {
    @apply text-transparent;
    @apply bg-clip-text;
  }

  /* Gradients */
  .orange-blue {
    @apply from-logo-orange-500;
    @apply to-logo-blue-300;
  }
  .amber-red {
    @apply from-neon-amber;
    @apply to-neon-red;
  }
  .green-sky {
    @apply from-neon-blue;
    @apply to-neon-green;
  }
  .purple-orange {
    @apply from-neon-sky;
    @apply to-logo-orange-600;
  }

  /* Responsive colors */
  .bg-extra-strong {
    @apply bg-gray-50;
    @apply dark:bg-gray-900;
  }
  .bg-strong {
    @apply bg-gray-100;
    @apply dark:bg-gray-800;
  }
  .bg-medium {
    @apply bg-gray-300;
    @apply dark:bg-gray-600;
  }
  .bg-light {
    @apply bg-gray-400;
    @apply dark:bg-gray-500;
  }
  .bg-extra-light {
    @apply bg-gray-500;
    @apply dark:bg-gray-400;
  }
  .text-extra-strong {
    @apply text-gray-900;
    @apply dark:text-gray-50;
  }
  .text-strong {
    @apply text-gray-800;
    @apply dark:text-gray-100;
  }
  .text-medium {
    @apply text-gray-700;
    @apply dark:text-gray-300;
  }
  .text-light {
    @apply text-gray-600;
    @apply dark:text-gray-400;
  }
  .text-extra-light {
    @apply text-gray-500;
    @apply dark:text-gray-500;
  }

  /* Text sizing */
  .title-lg {
    @apply text-5xl;
    @apply md:text-7xl;
    @apply text-strong;
  }
  .title-md {
    @apply text-4xl;
    @apply md:text-6xl;
    @apply text-strong;
  }
  .body-lg {
    @apply text-lg;
    @apply md:text-xl;
  }

  /* Rounding */
  .round-rect {
    @apply rounded-lg;
    @apply md:rounded-xl;
  }
  .round-rect-top {
    @apply rounded-t-lg;
    @apply md:rounded-t-xl;
  }

  /* Flex */
  .row {
    @apply flex;
    @apply flex-row;
  }
  .col {
    @apply flex;
    @apply flex-col;
  }

}

.animated-border-box, .animated-border-box-glow{
  height: 100%;
  width: 100%;
  overflow: hidden; 
  z-index: 0;
	border-radius: 10px;
}

.animated-border-box-glow{
  overflow: hidden;
  /* Glow Blur */
  filter: blur(20px);
}

.animated-border-box:before, .animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
	width: 99999px;
	height: 99999px;
	background-repeat: no-repeat;
	background-position: 0 0;
  /*border color, change middle color*/
	background-image: conic-gradient(rgba(0,0,0,0), #1976ed, rgba(0,0,0,0) 25%);
  /* change speed here */
	animation: rotate 4s linear infinite;
}

.animated-border-box:after {
	content: '';
	position: absolute;
	z-index: -1;
  /* border width */
	left: 5px;
	top: 5px;
  /* double the px from the border width left */
	width: calc(100% - 10px);
	height: calc(100% - 10px);
  /*bg color*/
	background: #292a2e;
  /*box border radius*/
	border-radius: 7px;
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

